body {
  background-color: black;
}
h2 {
  color: white;
  text-align: center;
  font-size: 5rem;
  font-family: sans-serif;
}
.container {
  background-color: bisque;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.box {
  background-color: grey;
  width: 28%;
  margin: 10px;
  padding: 20px;
  box-shadow: 2px 2px 10px white;
}
h5 {
  color: black;
  text-align: center;
  font-family: sans-serif;
}
p {
  color: palegreen;
  font-size: 0.9rem;
}
